{{#each form }}
<h4>{{ title }}</h4>
<form>
  {{#each fieldsets }}
    <fieldset>
      <legend>{{ legend }}</legend>

      {{#each fields }}

          {{#is type "read only" }}
          <div class="field">
            <p>{{ label }}</p>
            {{#each values }}
            <p>{{ this }}</p>
            {{/each }}
          </div>
          {{/is}}  
          
          {{#is type "select" }}    
          <div class="field">
            <label>{{ label }}</label>
            <select id="{{ this }}" name="{{ this }}"> 
              {{#each values }}
              <option value="{{ this }}">{{ this }}</option>
              {{/each }}
            </select>
          </div>
          {{/is }}

          {{#is type "multi select" }}    
          <div class="field">
            <label>{{ label }}</label>
            <select id="{{ this }}" name="{{ this }}" multiple>
              {{#each values }}
              <option value="{{ this }}">{{ this }}</option>
              {{/each }}
            </select>
          </div>
          {{/is }}

          {{#is type "text" }}
          <div class="field">
            <label>{{ label }}</label>
            <input type="text" class="{{ class }}" placeholder="{{#each values }}{{ this }}{{/each }}">
          </div>  
          {{/is }}

          {{#is type "textarea" }}
          <div class="field">
            <label>{{ label }}</label>
            <textarea class="extra-long" placeholder="{{#each values }}{{ this }}{{/each }}"></textarea>
          </div>  
          {{/is }}

          {{#is type "date" }}
          <fieldset>
            <legend>{{ label }}</legend>
            <div class="field inline">
              <select id="day" name="date-of-birth">
                <option value="Day">Day</option>
              </select>
              <select id="month" name="date-of-birth">
                <option value="Month">Month</option>
              </select>
              <select id="year" name="date-of-birth">
                <option value="Year">Year</option>
              </select>
            </div>
          </fieldset>
          {{/is }}

          {{#is type "radios inline" }}
          <fieldset>
            <legend class="legend">{{ label }}</legend>
            {{#each values }}
            <div class="field inline">
              <label><input type="radio" name="{{ this }}">{{ this }}</label>
            </div>
            {{/each }}
          </fieldset>
          {{/is }}

          {{#is type "radios" }}
          <fieldset>
            <legend class="legend">{{ label }}</legend>
            {{#each values }}
            <div class="field--list">
              <label><input type="radio" name="{{ this }}">{{ this }}</label>
            </div>
            {{/each }}
          </fieldset>
          {{/is }}

          {{#is type "checkboxes" }}
          <fieldset>
            <legend class="legend"></legend>
            {{#each values }}
            <div class="field--list">
              <label for="{{ this }}"><input type="checkbox" id="{{ this }}">{{ this }}</label>
            </div>
            {{/each }}
          </fieldset>
          {{/is }}

          {{#is type "multiple" }}
          <fieldset class="multiple">
            <legend>{{ label }}</legend>
            <div class="field">
              <label for="" class="visually-hidden"></label>
              <input id="" name="" type="text" class="{{ class }}">
            </div>
            <a class="" href="" >Add another</a>
          </fieldset>
          {{/is }}

      {{/each }}

    </fieldset>
  {{/each }}

  {{#if actions }}{{> _actions}}{{/if }}

</form>
{{/each }}
