<form>  
    <div class="table__header">
      <h3>{{{title}}}</h3>
      {{> _actions }}
    </div><!-- end .table__header -->

    <div class="table__wrapper">
      <table>
        <thead>
          <tr>
            {{#each headers }}
              {{#contains this.class "sortable" }}      
              <th class="{{ this.class }}"><a href="">{{{ this.label }}}</a></th>
              {{else }}
              <th>{{{ this.label }}}</th>
              {{/contains }}
            {{/each }}
          </tr>
        </thead>
        <tbody>
          <tr>
            {{#each columns }}<td>{{{ this }}}</td>{{/each}}
          </tr>
           <tr>
            {{#each columns }}<td>{{{ this }}}</td>{{/each}}
          </tr>
      </table>
    </div><!-- end .table__wrapper -->
</form>

