<form>  
    <div class="table__header">
      <h3>{{{table.title}}}</h3>
      <div class="actions-container">
        <input class="action--primary" type="submit" value="Add">
        <input class="action--secondary" type="submit" value="Edit">
        <input class="action--warning" type="submit" value="Delete">
      </div><!-- end .actions-container -->
    </div><!-- end .table__header -->

    <div class="table__wrapper">
      <table>
        <thead>
          <tr>
            {{#each table.headers }}
            <th>{{ . }}</th>
            {{/each}}
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {{#each table.columns }}<td>{{{ . }}}</td>{{/each}}
            <td><input name="row" type="checkbox"></td>
          </tr>
          <tr>
            {{#each table.columns }}<td>{{{ . }}}</td>{{/each}}
            <td><input name="row" type="checkbox"></td>
          </tr>
          <tr>
            {{#each table.columns }}<td>{{{ . }}}</td>{{/each}}
            <td><input name="row" type="checkbox"></td>
          </tr>
          <tr>
            {{#each table.columns }}<td>{{{ . }}}</td>{{/each}}
            <td><input name="row" type="checkbox"></td>
          </tr>
          <tr>
            {{#each table.columns }}<td>{{{ . }}}</td>{{/each}}
            <td><input name="row" type="checkbox"></td>
          </tr>
          <tr>
            {{#each table.columns }}<td>{{{ . }}}</td>{{/each}}
            <td><input name="row" type="checkbox"></td>
          </tr>
          <tr>
            {{#each table.columns }}<td>{{{ . }}}</td>{{/each}}
            <td><input name="row" type="checkbox"></td>
          </tr>
          <tr>
            {{#each table.columns }}<td>{{{ . }}}</td>{{/each}}
            <td><input name="row" type="checkbox"></td>
          </tr>
          <tr>
            {{#each table.columns }}<td>{{{ . }}}</td>{{/each}}
            <td><input name="row" type="checkbox"></td>
          </tr>
          <tr>
            {{#each table.columns }}<td>{{{ . }}}</td>{{/each}}
            <td><input name="row" type="checkbox"></td>
          </tr>
          <tr>
            {{#each table.columns }}<td>{{{ . }}}</td>{{/each}}
            <td><input name="row" type="checkbox"></td>
          </tr>
          <tr>
            {{#each table.columns }}<td>{{{ . }}}</td>{{/each}}
            <td><input name="row" type="checkbox"></td>
          </tr>
          <tr>
            {{#each table.columns }}<td>{{{ . }}}</td>{{/each}}
            <td><input name="row" type="checkbox"></td>
          </tr>
          <tr>
            {{#each table.columns }}<td>{{{ . }}}</td>{{/each}}
            <td><input name="row" type="checkbox"></td>
          </tr>
          <tr>
            {{#each table.columns }}<td>{{{ . }}}</td>{{/each}}
            <td><input name="row" type="checkbox"></td>
          </tr>
          <tr>
            {{#each table.columns }}<td>{{{ . }}}</td>{{/each}}
            <td><input name="row" type="checkbox"></td>
          </tr>
          <tr>
            {{#each table.columns }}<td>{{{ . }}}</td>{{/each}}
            <td><input name="row" type="checkbox"></td>
          </tr>
          <tr>
            {{#each table.columns }}<td>{{{ . }}}</td>{{/each}}
            <td><input name="row" type="checkbox"></td>
          </tr>
          <tr>
            {{#each table.columns }}<td>{{{ . }}}</td>{{/each}}
            <td><input name="row" type="checkbox"></td>
          </tr>
          <tr>
            {{#each table.columns }}<td>{{{ . }}}</td>{{/each}}
            <td><input name="row" type="checkbox"></td>
          </tr>
      </table>
    </div><!-- end .table__wrapper -->
</form>

