<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-GB" class="no-js not-ie8">
<!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/styles/selfserve.css" media="all" rel="stylesheet" type="text/css">
    <script type="text/javascript" async="" src="/js/selfserve.js"></script>
  </head>

  <body class="selfserve">


    <div role="banner" class="global-header">
      <div class="global-header__wrapper">
        <a href="/styleguides/selfserve/" title="Go to the OLCS Selfserve styleguide homepage" class="global-header__logo">
          <img src="/images/gov.uk_logotype_crown.png" alt="GOV.UK logo">GOV.UK
        </a>
        <h2 class="global-header__title">Vehcile operator licensing</h2>
      </div><!-- end .global-header__wrapper -->
    </div><!-- end .global-header -->
    
    <div class="page-wrapper">

      <div class="user-header">
        <p class="phase"><span class="phase__tag">alpha</span><span class="phase__message">This is a prototype – your <a href="">feedback</a> will help us improve it.</span></p> 
        <ul class="user-menu">
          <li class="user-menu__item">Katy Hasley, <b>Operator Licensing Ltd.</b></li>
          <li class="user-menu__item"><a href="">My details</a></li>
          <li class="user-menu__item"><a href="">Sign out</a></li>
        </ul>
      </div><!-- end .user-header -->

      <div id="main" role="main" class="styleguide">
        <div class="page-header">

          <ol class="breadcrumbs">
            {{#each breadcrumbs }}
              <li class="breadcrumbs__item"><a href="{{ link }}">{{ label }}</a></li>
            {{/each}}
          </ol>
          <div class="page-header__wrapper">
            <h3 class="page-header__subtitle">{{ subtitle }}</h3>
            <h1>{{ title }}</h1>
          </div><!-- end .page-header__wrapper -->    
        </div><!-- end .page-header -->

        {{> body }}

      </div><!-- end .main -->
    </div><!-- end .page-wrapper-->

    <div class="global-footer">
      <div class="global-footer__wrapper">
        <ul class="global-footer__links">
          <li class="global-footer__link"><a href="">Helpdesk</a></li>
          <li class="global-footer__link"><a href="">Privacy &amp; cookies</a></li>
          <li class="global-footer__link">Built by <a href="https://www.gov.uk/government/organisations/driver-and-vehicle-standards-agency">Driver &amp; Vehicle Standards Agency</a></li>
        </ul>
        <div class="global-footer__copyright">
          <a href="">&copy; Crown copyright</a>
        </div>
        </div><!-- end global-wrapper -->
    </div><!-- end global-footer -->

  </body>
</html>
