---
layout: base.hbs
asset: '../../'
user: operator
title: Application overview
subtitle: Application OB12524/525
breadcrumbs:
  - link: licences.html
    label: Home
overview-items:
  - name: 1. Type of licence
    status: Complete
    edit-link: Edit licence type
  - name: 2. Business details
    status: Complete
    edit-link: Edit business details
    open: true
  - name: 3. Addresses
    status: Incomplete
    edit-link: Edit addresses
  - name: 4. People
    status: Incomplete
    edit-link: Edit directors
  - name: 5. Operating centres
    status: Incomplete
    edit-link: Edit operating centres
  - name: 6. Financial evidence
    status: Not started
    edit-link: Add financial evidence
  - name: 7. Transport managers
    status: Not started
    edit-link: Add transport managers
  - name: 8. Vehicles
    status: Not started
    edit-link: Add vehicles
  - name: 9. Safety information
    status: Not started
    edit-link: Add safety information
  - name: 10. Financial history
    status: Not started
    edit-link: Add financial history
  - name: 11. Licence history
    status: Not started
    edit-link: Add licence history
  - name: 12. Convictions & penalties
    status: Not started
    edit link: Add convictions & penalties
  - name: 13. Declarations
    status: Disabled
    edit-link:
---

<div class="row">

  <div class="two-thirds border">
    <ul class="overview-navigation">

    {{#each overview-items }}

      {{#is status "Complete"}}
      <li class="overview-item">
        <a href="/styleguides/selfserve/operating-centres.html" class="overview-item__link">
          <h4>{{ name }}</h4>
          <span class="status green">{{ status }}</span>
          <p>{{ edit-link }}</p>
        </a>
      </li>
      {{/is}}

      {{#is status "Incomplete"}}
      <li class="overview-item">
        <a href="/styleguides/selfserve/operating-centres.html" class="overview-item__link">
          <h4>{{ name }}</h4>
          <span class="status orange" data-tooltip="You still need to complete some information">{{ status }}</span>
          <p>{{ edit-link }}</p>
        </a>
      </li>
      {{/is}}

      {{#is status "Not started" }}
      <li class="overview-item not-started">
        <a href="/styleguides/selfserve/operating-centres.html" class="overview-item__link">
          <h4>{{ name }}</h4>
          <span class="status {{#is status "Not started" }}grey{{/is}}">{{ status }}</span>
          <p>{{ edit-link }}</p>
        </a>
      </li>
      {{/is}}

     {{#is status "Disabled" }}
      <li class="overview-item disabled">
        <div class="overview-item__link">
          <h4>{{ name }}</h4>
          <span>Please complete the other sections first</span>
        </div>
      </li>
      {{/is}}

    {{/each }}

    </ul><!-- .overview-navigation -->

    <div class="actions-container">
      <a href="review-submit.html" class="action--primary large">Review and submit</a>
    </div>
  </div><!-- .two-thirds -->


  <div class="one-third">

    <div class="sidebar">

      <dl class="meta" style="border-bottom: 0; padding-bottom: 0;">
        <dt>Application reference</dt>
        <dd>OB12524/525</dd>
        <dt>Progress</dt>
        <dd>13 of 13 sections complete</dd>
        <dt>Status</dt>
        <dd>Not submitted</dd>
      </dl>

      <div class="links">
        <h3>Applying for a new licence</h3>
        <ul class="links-list">
          <li class="links-list__item"><a href="">Complete your applications for a goods vehicle operator's licence</a></li>
          <li class="links-list__item"><a href="">Advertise your application for a licence</a></li>
          <li class="links-list__item"><a href="">Financial information</a></li>
          <li class="links-list__item"><a href="">A guide to operator fees</a></li>
          <li class="links-list__item"><a href="">How to draw up a maintenance contract</a></li>
        </ul>
      </div><!-- .links -->

      {{> _support }}

    </div>

  </div>

</div>