---
layout: base.hbs
user: operator
title: Application overview
subtitle: Application OB12524/525
breadcrumbs:
  - link: home.html
    label: Home
overview-items:
  - name: 1. Type of licence
    status: Complete
    edit-link: Edit ype of licence
    url:

  - name: 2. Business type
    status: Complete
    edit-link: Edit business type
    open: true
    url:

  - name: 3. Business details
    status: Incomplete
    edit-link: Edit business details
    url:
    
  - name: 4. Addresses
    status: Incomplete
    edit-link: Edit addresses
    url:

  - name: 5. Directors
    status: Incomplete
    edit-link: Edit directors
    url:

  - name: 6. Operating centres and authorisation
    status: Not started
    edit-link: Add operating centre
    url: operating-centres.html

  - name: 7. Financial evidence
    status: Not started
    edit-link: Add financial evidence
    url: financial-evidence.html

  - name: 8. Transport managers
    status: Not started
    edit-link: Add transport manager
    url: transport-managers.html

  - name: 9. Vehicles
    status: Not started
    edit-link: Add vehicle
    url: vehicles.html

  - name: 10. Safety and compliance
    status: Not started
    edit-link: Add safety
    url: safety-and-compliance.html

  - name: 11. Financial history
    status: Not started
    edit-link: Add financial history
    url: financial-history.html

  - name: 12. Licence history
    status: Not started
    edit link: Add licence history
    url: licence-history.html

  - name: 13. Convictions and penalties
    status: Not started
    edit-link:
    url: convictions-penalties.html

  - name: 14. Review and declarations
    status: Disabled
    edit-link:
    url:
---

<div class="row">

  <div class="two-thirds border">
    
    <ul class="overview-navigation">

    {{#each overview-items}}

      {{#is status "Complete"}}
        <li class="overview-item">
          <a href="{{url}}" class="overview-item__link">
            <h4>{{name}}</h4>
            <span class="status green">{{status}}</span>
            <p>{{edit-link}}</p>
          </a>
        </li>
      {{/is}}

      {{#is status "Incomplete"}}
        <li class="overview-item">
          <a href="{{url}}" class="overview-item__link">
            <h4>{{ name }}</h4>
            <span class="status orange" data-tooltip="You still need to complete some information">{{ status }}</span>
            <p>{{ edit-link }}</p>
          </a>
        </li>
      {{/is}}

      {{#is status "Not started" }}
        <li class="overview-item not-started">
          <a href="{{url}}" class="overview-item__link">
            <h4>{{ name }}</h4>
            <span class="status {{#is status "Not started" }}grey{{/is}}">{{ status }}</span>
            <p>{{ edit-link }}</p>
          </a>
        </li>
      {{/is}}

     {{#is status "Disabled" }}
        <li class="overview-item disabled">
          <div class="overview-item__link">
            <h4>{{ name }}</h4>
            <span>Please complete the other sections first</span>
          </div>
        </li>
      {{/is}}

    {{/each}}

    </ul><!-- .overview-navigation -->

    <div class="actions-container">
      <a href="review-submit.html" class="action--primary large">Review and submit</a>
    </div>

  </div>

  <div class="one-third">

    <div class="sidebar">

      <dl class="meta">
        <dt>Application reference</dt>
        <dd>OB12524/525</dd>
        <dt>Progress</dt>
        <dd>13 of 13 sections complete</dd>
        <dt>Status</dt>
        <dd>Not submitted</dd>
      </dl>

      <div class="links">
        <h3>Applying for a new licence</h3>
        <ul class="links-list">
          <li class="links-list__item"><a href="">Complete your applications for a goods vehicle operator's licence</a></li>
          <li class="links-list__item"><a href="">Advertise your application for a licence</a></li>
          <li class="links-list__item"><a href="">Financial information</a></li>
          <li class="links-list__item"><a href="">A guide to operator fees</a></li>
          <li class="links-list__item"><a href="">How to draw up a maintenance contract</a></li>
        </ul>
      </div>

      {{> _support }}

    </div>

  </div>

</div>